bookstack=("master")
ldap-auth=("master")
smokeping=("master")
snipe-it=("master")
duckdns=("master")
bazarr=("master" "development")
nginx=("master")
heimdall=("master" "development")
healthchecks=("master")
diskover=("master")
sickgear=("master")
rutorrent=("master")
mylar=("master")
minisatip=("master")
gazee=("master")
lazylibrarian=("master")
grocy=("master")
couchpotato=("master")
cops=("master")
lychee=("master")
syncthing=("master")
tautulli=("master" "develop")
cardigann=("master")
medusa=("master")
hydra=("master")
freshrss=("master")
codiad=("master")
daapd=("master")
photoshow=("master")
muximux=("master")
letsencrypt=("master")
headphones=("master")
sickrage=("master")
htpcmanager=("master")
piwigo=("master")
thelounge=("master")
shout-irc=("master")
beets=("master")
organizr=("master")
znc=("master")
nextcloud=("master")
ubooquity=("master")
nzbget=("master" "testing")
tt-rss=("master")
minetest=("master")
tvheadend=("master" "release-4.2")
habridge=("master")
calibre-web=("master")
domoticz=("master" "stable")
ddclient=("master")
clarkson=("master")
davos=("master")
pydio=("master")
projectsend=("master")
oscam=("master")
musicbrainz=("master")
