bazarr=("master" "development")
beets=("master")
bookstack=("master")
cardigann=("master")
clarkson=("master")
cops=("master")
couchpotato=("master")
daapd=("master")
davos=("master")
ddclient=("master")
diskover=("master")
dokuwiki=("master")
domoticz=("master" "stable")
duckdns=("master")
fleet=("master")
freshrss=("master")
grocy=("master")
habridge=("master")
headphones=("master")
healthchecks=("master")
heimdall=("master" "development")
htpcmanager=("master")
hydra=("master")
lazylibrarian=("master")
ldap-auth=("master")
letsencrypt=("master")
lychee=("master")
medusa=("master")
minetest=("master")
minisatip=("master")
mstream=("master")
musicbrainz=("master")
muximux=("master")
mylar=("master")
netbootxyz=("master" "tftp")
nextcloud=("master")
nginx=("master")
ngircd=("master")
nntp2nntp=("master")
nzbget=("master" "testing")
openssh-server=("master")
organizr=("master")
oscam=("master")
photoshow=("master")
piwigo=("master")
pixapop=("master")
projectsend=("master")
pydio=("master")
pydio-cells=("master")
pyload=("master")
pylon=("master")
quassel-core=("master")
quassel-web=("master")
raneto=("master")
rutorrent=("master")
sickchill=("master")
sickgear=("master")
smokeping=("master")
snipe-it=("master")
syncthing=("master")
taisun=("master")
tautulli=("master" "develop")
thelounge=("master")
transmission=("master")
tvheadend=("master" "release-4.2")
ubooquity=("master")
znc=("master")
