adguardhome-sync=("main")
apprise-api=("main")
bazarr=("master" "development")
beets=("master")
bookstack=("master")
chevereto=("master")
clarkson=("master")
cops=("master")
couchpotato=("master")
daapd=("master")
davos=("master")
ddclient=("master")
diskover=("master")
dokuwiki=("master")
duckdns=("master")
endlessh=("main")
freshrss=("master")
grav=("main")
grocy=("master")
habridge=("master")
headphones=("master")
healthchecks=("master")
heimdall=("master" "development")
homeassistant=("main")
htpcmanager=("master")
ipfs=("master")
ldap-auth=("master")
librespeed=("master")
limnoria=("master")
lychee=("master")
medusa=("master")
minetest=("master")
minisatip=("master")
mstream=("master")
musicbrainz=("master")
muximux=("master")
mylar3=("master" "nightly")
nano-wallet=("master" "dev")
nano=("master" "beta")
netbootxyz=("master" "tftp")
nextcloud=("master")
nginx=("master")
ngircd=("master")
nntp2nntp=("master")
nzbget=("master" "testing")
openssh-server=("master")
organizr=("master")
oscam=("master")
overseerr=("main" "develop")
photoshow=("master")
piwigo=("master")
pixapop=("master")
projectsend=("master")
pwndrop=("master")
pydio-cells=("master")
pyload=("master")
pylon=("master")
quassel-core=("master")
quassel-web=("master")
raneto=("master")
rsnapshot=("main")
scrutiny=("master")
sickchill=("master")
sickgear=("master")
smokeping=("master")
snapdrop=("master")
snipe-it=("master")
swag=("master")
synclounge=("master")
syncthing=("master")
syslog-ng=("main")
taisun=("master")
tautulli=("master" "develop")
thelounge=("master")
transmission=("master")
tvheadend=("master" "release-4.2")
ubooquity=("master")
wikijs=("master")
xbackbone=("main")
yq=("master")
znc=("master")
